.botchatinput-rootContainer {
  height: 20%;
  padding: 1em;
}

.botchatinput-mainContainer {
  display: flex;
}
.botchatinput-inputField {
  flex-basis: 80%;
  border-radius: 4px;
}
.botchatinput-sendButton {
  flex-basis: 20%;
  padding: 0.5em 0.2em;
  margin: 0.2em;
  background-color: #6da9c0;
  color: white;
}
